<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.richard.voca.feature.main">

    <application>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter
                android:autoVerify="true"
                android:order="100">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- Accepts URIs that begin with "https://voca.richard.pe/” -->
                <data
                    android:host="voca.richard.pe"
                    android:pathPattern="/.*"
                    android:scheme="https" />

                <!-- Accepts URIs that begin with "voca://voca.richard.pe/” -->
                <data
                    android:host="voca.richard.pe"
                    android:pathPattern="/.*"
                    android:scheme="voca" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>